body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  margin-top: 120px;
}

.static__img {
  position: fixed;
  width: 1920px;
  height: 1080px;
  opacity: 0.1;
  left: 50%;
  pointer-events: none;
  background: url("./files/gif/static_noise.gif");
  transform: translate(-50%, 0);
  z-index: 9999;
}

#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
  opacity: 1;
  transition: opacity 2s ease;
}

#intro.fade-out {
  opacity: 0;
  pointer-events: none;
}

#intro.hidden {
  display: none;
}

#intro video {
  width: 1920px;
  height: 1080px;
  -o-object-fit: cover;
     object-fit: cover;
}

#content {
  display: none;
  padding: 20px;
}

#content.show {
  display: block;
}

#playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  padding: 12px 24px;
  background: #d80000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 8000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main {
  background-image: url("files/img/wallpaper.jpg");
  width: 1920px;
  height: 980px;
  margin: auto;
  position: relative;
}

.main__folder {
  width: 160px;
  height: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__folder:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.main__folder button {
  width: 128px;
  height: 128px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main__folder button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background: transparent;
  display: block;
}

.main__folder h3 {
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main__folder-section2, .main__folder-section1 {
  position: absolute;
  top: -400px;
  left: 700px;
  width: 1160px;
  height: 800px;
  background-color: #1b1b1b;
  border-radius: 16px;
  border: 1px solid;
  border-color: #2c2c2c;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

.main__folder-section-box1 {
  padding-top: 10px;
  width: 150px;
  height: 200px;
  color: #fff;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main__folder-section-box1:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}
.main__folder-section-box1 button {
  width: 130px;
  height: 130px;
  color: #fff;
  border-radius: 16px;
  background: transparent;
  border-style: none;
  margin-bottom: 10px;
}
.main__folder-section-box1 p {
  width: 130px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__folder-section-box1 img {
  margin: 0px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
}

.main__folder-section-header1 {
  width: 100%;
  height: 40px;
  background-color: #0f0f0f;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.main__folder-section-header1 button {
  width: 40px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

.main__folder-section-box2 {
  padding-top: 10px;
  width: 150px;
  height: 200px;
  color: #fff;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main__folder-section-box2:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.main__folder-section-box2 button {
  width: 130px;
  height: 130px;
  color: #fff;
  border-radius: 16px;
  background: transparent;
  border-style: none;
  margin-bottom: 10px;
}

.main__folder-section-box2 p {
  width: 130px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__folder-section-box2 img {
  margin: 0px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
}

.main__folder-section-header2 {
  width: 100%;
  height: 40px;
  background-color: #0f0f0f;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.main__folder-section-header2 button {
  width: 40px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

img {
  background-color: transparent;
}

.main__footer-section {
  position: relative;
  left: 20px;
  width: 1000px;
  height: 500px;
  background-color: #1b1b1b;
  border-radius: 16px;
  border: 1px solid;
  border-color: #2c2c2c;
  color: #fff;
}

.main__footer-section-header {
  height: 350px;
  position: absolute;
  margin: 20px;
  background-color: aqua;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main__footer-section-footer {
  overflow: hidden;
  position: absolute;
  top: 400px;
  height: 100px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 1000px;
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  align-items: center;
}

.main__footer-section-footer img {
  width: 64px;
  height: 64px;
  margin: 18px 20px;
  filter: invert(0.9);
}

.main__footer-section-footer h2 {
  margin: 0;
  color: #fff;
}

.main__footer-section-footer-rightbox button {
  padding-right: 40px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  width: 300px;
  height: 80px;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main__footer-section-footer-rightbox button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.main__footer-section-footer-leftbox {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.main__footer-section-footer-leftbox button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main__footer-section-footer-leftbox button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.main__user {
  top: 50px;
  left: 600px;
  position: absolute;
  width: 1200px;
  height: 800px;
  background-color: black;
  border-radius: 16px;
  border: 1px solid;
  border-color: #2c2c2c;
  color: #fff;
  align-items: center;
  justify-content: center;
}

#closeVideoBtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}

#videoOverlay video {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 700px;
  height: 700px;
  max-width: 80%;
  max-height: 80%;
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

#closeAudioBtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#pdfOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}

#pdfContainer {
  top: 10%;
  left: 10%;
  position: relative;
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#pdfContainer embed {
  width: 100%;
  height: 100%;
  border: none;
}

#closePdfBtn {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}

#audioOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
}

#audioOverlay audio {
  position: relative;
  top: 50%;
  left: 35%;
  width: 500px;
  outline: none;
  margin-top: 20px;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#audioTitle {
  position: relative;
  top: 50%;
  left: 35%;
  font-size: 20px;
  color: #fff;
}

.footer {
  background-color: #1b1b1b;
  width: 1920px;
  height: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.footer__logo {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.footer__logo button {
  width: 85px;
  height: 85px;
  background: transparent;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.aro__logo {
  width: 64px;
  height: 64px;
  opacity: 0.9;
  filter: hue-rotate(60deg) saturate(120%) brightness(100%);
}

.footer__programs {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
  padding: 0 50px;
}

.footer__program-img {
  width: 64px;
  height: 64px;
}

.footer__programs button {
  width: 85px;
  height: 85px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer__sidebar {
  width: 512px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 0 20px;
}

.footer__sidebar-img {
  width: 30px;
  height: 30px;
}

.footer__sidebar button {
  width: 64px;
  height: 85px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer__datetime {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  align-items: flex-end;
}

.footer__date,
.footer__time {
  display: block;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer__search-box {
  position: relative;
  width: 250px;
  margin-left: 30px;
}

.footer__search-box input {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 25px;
  outline: none;
  background: #2d2d2d;
  color: #fff;
  transition: 0.3s;
}

.footer__search-box input::-moz-placeholder {
  color: #aaa;
}

.footer__search-box input::placeholder {
  color: #aaa;
}

.footer__search-box input:focus {
  border-color: #7e009e;
  box-shadow: 0 0 5px rgba(94, 0, 102, 0.8);
}

.footer__search-box i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #bbb;
  font-size: 18px;
  pointer-events: none;
}

#reverse {
  filter: invert(0.9);
}

.footer__sidebar button:hover,
.footer__programs button:hover,
.footer__logo button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */