.static__img {
  position: fixed;
  width: 1920px;
  height: 1080px;
  opacity: 0.1;
  left: 50%;
  pointer-events: none;
  background: url("./files/gif/static_noise.gif");
  transform: translate(-50%, 0);
  z-index: 9999;
}

#selectionBox {
  position: absolute;
  border: 2px dashed #00aaff;
  background: rgba(0, 170, 255, 0.2);
  display: none;
  pointer-events: none;
  z-index: 9999;
}

.blue__screen {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9998;
  opacity: 0;
}
