.main {
  background-image: url("files/img/wallpaper.jpg");
  width: 1920px;
  height: 980px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.main__folder {
  width: 160px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__folder:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.main__folder button {
  width: 128px;
  height: 128px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.main__folder button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background: transparent;
  display: block;
  -webkit-user-drag: none;
}

.main__folder h3 {
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  user-select: none;
}

//FOLDER-Section_________________________________________

// Common folder section styles
%folder-section {
  position: absolute;
  top: -400px;
  left: 700px;
  width: 1160px;
  height: 800px;
  background-color: #1b1b1b;
  border-radius: 16px;
  border: 1px solid;
  border-color: #2c2c2c;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}

%folder-section-box {
  padding-top: 10px;
  width: 150px;
  height: 200px;
  color: #fff;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
  }

  button {
    width: 130px;
    height: 130px;
    color: #fff;
    border-radius: 16px;
    background: transparent;
    border-style: none;
    margin-bottom: 10px;
  }

  p {
    width: 130px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    margin: 0px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background-color: transparent;
    -webkit-user-drag: none;
  }
}

%folder-section-header {
  width: 100%;
  height: 50px;
  background-color: #0f0f0f;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    width: 70px;
    height: 50px;
    padding: 0;
    border: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
  }
}

// Apply common styles
.main__folder-section1 {
  @extend %folder-section;
}

.main__folder-section-box1 {
  @extend %folder-section-box;
}

.main__folder-section-header1 {
  @extend %folder-section-header;
}

.main__folder-section2 {
  @extend %folder-section;
}

#closeVideoFolder {
  &:hover {
    background-color: red;
    transition: background-color 0.3s ease-in-out;
    border-top-right-radius: 16px;
  }
}

#maximizeVideoFolder,
#minimizeVideoFolder {
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
  }
}

.main__folder-section-box2 {
  padding-top: 10px;
  width: 150px;
  height: 200px;
  color: #fff;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main__folder-section-box2:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.main__folder-section-box2 button {
  width: 130px;
  height: 130px;
  color: #fff;
  border-radius: 16px;
  background: transparent;
  border-style: none;
  margin-bottom: 10px;
  user-drag: none;
}

.main__folder-section-box2 p {
  width: 130px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__folder-section-box2 img {
  margin: 0px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  -webkit-user-drag: none;
}

.main__folder-section-header2 {
  width: 100%;
  height: 50px;
  background-color: #0f0f0f;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#closeFilesFolder {
  width: 70px;
  height: 50px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: red;
    transition: background-color 0.3s ease-in-out;
    border-top-right-radius: 16px;
  }
}

.main__folder-section-header2 #maximizeFilesFolder,
.main__folder-section-header2 #minimizeFilesFolder {
  width: 70px;
  height: 50px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
  }
}
